#table1 tr:nth-child(even) {
    background-color: rgb(101, 99, 175);
}

#table1 tr:nth-child(odd) {
    background-color: rgb(148, 148, 198);
}
#table1 th{
    color: azure;
    background-color: rgb(35, 44, 97);
}



    
    label {
    width: 150px;
    text-align: center;
    display: inline-block;
    padding-right: 100px;
}

fieldset {
    margin: 15px 0;
    width: 550px;
    border-radius: 40px;
    border-color: royalblue;

}

body {
    font-family: 'Trebuchet MS', sans-serif;
}